body{
    font-family: 'Work Sans', sans-ser
}
header{
    background-image: url(/images/banner/banner1.png);
    background-size: cover;
    background-position: center;
  
    
}
.header-container{
   display: flex;
   align-items:end;
   margin-left: 50%;
}